video_source/

# FFmpeg slice
*.m4s
*.mpd
*.tmp
*.mp4
*.avi
*.webm
*.y4m

#python environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# log
*.log
*.csv
*.json

.vscode/
.idea/
.DS_Store
Thumbs.db

npm-debug.log*