video_source/

# FFmpeg slice
*.m4s
*.mpd
*.tmp
*.mp4
*.avi

#python environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env

# log
*.log
metrics_data/

.vscode/
.idea/
.DS_Store
Thumbs.db

npm-debug.log*